<% if current_user %>

<div class = "container text-center">
    <h1>Wicki List</h1>
</div>
  <br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Private?</th>
      <th>Wiki Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wikis.each do |wiki| %>
      <tr>
        <td><%= wiki.title %></td>
        <td><%= wiki.body %></td>
        <td><%= wiki.private %></td>
        <td><%= wiki.user.email %></td>
        <td><%= link_to 'View', wiki %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p><%= link_to "Create New", new_wiki_path, class: 'btn btn-primary btn-lg' %></p>

<% else %> 

  <p> All users must be signed in! </P>
   <%= link_to "Sign In", new_user_session_path %> or 
   <%= link_to "Sign Up", new_user_registration_path %>
<% end %>