<p id="notice"><%= notice %></p>
<div class = "container text-center">
  <h1>Wiki Viewer</h1>
    <br>
    <div class="jumbotron text-center">
      <br>
      <p><strong>Title</strong>
        <%= markdown_to_html @wiki.title %></p>
        <br>
      <p><strong>Body</strong>
        <%= markdown_to_html @wiki.body %></p>
      </div>
  </div>
<br>
<div class = "container text-center">
  <% if policy(@wiki).edit? %>
    <%= link_to 'Edit', edit_wiki_path(@wiki) %> |
      <% end %>
    <%= link_to 'Back to List', wikis_path %>
</div>