<!DOCTYPE html>
<html>
<head>
  <title>WickiMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="container">
    <ul class="nav nav-tabs">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <% if current_user %>
        <li><%= link_to "Wiki's", wikis_path %></li>
        <% end %>
        <li><%= link_to "Upgrade to Premium", new_charge_path %></li>
        
        <div class="pull-right user-info">
           <% if current_user %>
             Welcome <%= current_user.email %>
             <br>
             <%= current_user.role.upcase %> Account!
             <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
           <% else %>
             <%= link_to "Log In", new_user_session_path %> or 
             <%= link_to "Sign Up", new_user_registration_path %>
           <% end %>
         </div>
  </ul>
    <div>
  </div>
   <p class="notice"><%= notice %></p> 
   <p class="alert"><%= alert %></p>  
  <%= yield %>
  </div>

 </body>
</html>
